@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-blue: hsl(237, 18%, 59%);
  --clr-primary-red: hsl(345, 95%, 68%);
  --clr-desaturated-blue: hsl(236, 21%, 26%);
  --clr-dark-blue: hsl(235, 16%, 14%);
  --clr-blackish-blue: hsl(234, 17%, 12%);
  --clr-white: hsl(0, 0%, 100%);
  --radius: 0.5rem;
  --spacing: 0.5rem;
  --ff-primary: "Red Hat Text", sans-serif;
}
html {
  font-size: 14px;
  background-color: var(--clr-dark-blue);
}
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: var(--clr-white);
  background: url(./images/bg-stars.svg) center/cover no-repeat fixed;
  font-family: var(--ff-primary);
}
footer {
  width: 100vw;

  background: url(./images/pattern-hills.svg);
}
/* 
////////////////////
Header
///////////////////
 */
header {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  width: 60%;
  text-align: center;
  font-weight: 700;
  margin-top: 7rem;
}
.setbtn {
  margin-top: 1rem;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: var(--clr-primary-red);
  cursor: pointer;
}
/* 
////////////////////
Timer
///////////////////
 */
main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  margin-bottom: 2rem;
  position: relative;
}
.form {
  background: var(--clr-primary-blue);
  position: absolute;
  top: 0%;
  /* left: 50%; */
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 50vw;
  margin-top: -3rem;
  border-radius: var(--radius);
}
.closebtn {
  /* float: right; */
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  background: transparent;
  color: rgb(236, 147, 147);
  border: none;
}
.submitbtn {
  width: 90%;
  margin-bottom: -1rem;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-radius: var(--radius);
  border: none;
  font-weight: 700;
  color: var(--clr-primary-red);
  background: var(--clr-dark-blue);
}
.form form {
  width: 90%;
  margin-top: 1rem;
}
.form form input {
  width: 100%;
  padding: 0.5rem 0.25rem;
  border-radius: var(--radius);
  border: 2px solid var(--clr-dark-blue);
}
.form form label {
  display: inline-block;
  color: var(--clr-blackish-blue);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.closebtn:hover {
  color: rgb(185, 57, 57);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2;
}
.timer__days,
.timer__hours,
.timer__minutes,
.timer__seconds {
  text-align: center;
  margin-right: 1rem;
}
.hours__display,
.days__display,
.minutes__display,
.seconds__display {
  width: 20vw;
  height: 20vw;
  /* background-color: yellowgreen; */
  border-radius: var(--radius);
  position: relative;

  text-align: center;
  font-size: 3.5rem;
}

.hours__title,
.days__title,
.minutes__title,
.seconds__title {
  margin-top: 1rem;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--clr-primary-blue);
}
/* .dark::before {
  content: "00";
  position: relative;

  bottom: -35%;
}
.light::before {
  content: "00";
  position: relative;

  top: -65%;
} */

.dark {
  border-radius: var(--radius);
  width: 100%;
  height: 50%;
  /* this color was not given in style guide */
  background: #2c2c44;
  color: hsl(345, 62%, 57%);
  font-weight: 700;
  overflow: hidden;
}
.dark p {
  position: relative;
  bottom: -35%;
}
.light {
  border-radius: var(--radius);
  width: 100%;
  height: 50%;
  background: var(--clr-desaturated-blue);
  color: var(--clr-primary-red);
  font-weight: 700;
  overflow: hidden;
}
.light p {
  position: relative;
  top: -65%;
}
.left-semicircle {
  position: absolute;
  top: 42%;
  left: 0%;
  background: var(--clr-dark-blue);
  height: 15px;
  width: 7px;
  border-radius: 0 300px 300px 0;
}
.right-semicircle {
  position: absolute;
  top: 42%;
  right: 0%;
  background: var(--clr-dark-blue);
  height: 15px;
  width: 7px;
  border-radius: 300px 0 0 300px;
}
/* 
////////////////////
Footer
///////////////////
 */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 3.5rem 0;
}
.social-icon a img:hover {
  filter: invert(38%) sepia(87%) saturate(459%) hue-rotate(295deg)
    brightness(94%) contrast(92%);
}
/* 
***************************
***************************
Desktop view
**************************
**************************
 */
@media screen and (min-width: 600px) {
  /* 
////////////////////
Header
///////////////////
 */
  header {
    margin-top: 6rem;
  }
  /* 
////////////////////
Timer
///////////////////
 */
  main {
    width: 70%;
  }
  .form {
    width: 30vw;
    height: 30vh;
  }
  .timer__days,
  .timer__hours,
  .timer__minutes,
  .timer__seconds {
    margin-right: 2rem;
  }
  .hours__display,
  .days__display,
  .minutes__display,
  .seconds__display {
    width: 10vw;
    height: 10vw;
    font-size: 4.5rem;
  }
  .hours__title,
  .days__title,
  .minutes__title,
  .seconds__title {
    letter-spacing: 0.3rem;
  }

  /* 
////////////////////
Footer
///////////////////
 */

  .social-icons {
    width: 10%;
  }
}
/* Keep hidden at the end  */
.hidden {
  display: none;
}
/* preadded css */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-primary-blue);
}
